{% extends 'base_account.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscription/css/style.css' %}">
{% endblock %}

{% block page_header %}
    <h1 class="d-flex justify-content-center page-header">Thank you!</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <p>Your subscription has now been updated and will end on <span class="fw-bold">{{subscription.end_date}}</span>.</p>
                <p>Email confirmation has been sent to <span class="fw-bold">{{profile.email}}</span></p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'profile' %}" class="btn green-btn btn-lg">Go to Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
