{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Hero Section-->
    <div class="hero-container d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="hero-header">Counter</h1>
                    <p class="hero-text">Keep track of invoices and bills with Counter. Online Bookkeeping perfect for Soletraders, Freelancers, Self-employed and Small businesses</p>
                </div>
                <div class="my-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-lg green-btn">
                        Try for Free
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features-->
    <section class="page-section" id="features">
        <div class="container">
            <div class="text-center">
                <h2 class="page-header">Features</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-invoice fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Create Invoices</h4>
                    <p class="text-muted">Create new Invoices and Bills for customer accounts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Keep Track of Bills</h4>
                    <p class="text-muted">Never miss another payment and keep track of customers that haven't paid yet</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Customer Management</h4>
                    <p class="text-muted">Keep track of every customers you've ever paid or created an ivoice for</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Price -->
    <section class="page-section price-section" id="price">
        <div class="container">
            <div class="text-center">
                <h2 class="page-header">Prices</h2>
            </div>
            <div class="price-container col-8 offset-2">
                <div class="row mx-auto">
                    <div class="col-12 col-md-6 text-center pt-5">
                        <ul>
                            <li>Price: £19.99 per month.</li>
                            <li>This gives you full access to the platform for 31 days.</li>
                            <li>Free 14-day free trial.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="rounded mx-auto d-block img-responsive" src="/media/bank.svg" alt="bank icon">
                    </div>
                </div>
                <div class="row submit-container">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-navy btn-lg">
                            Try for Free
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">39 Park Chase, Wembley, London, HA9 8EQ</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">hello@counter.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+44 0208 795 5268</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © Counter 2021</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-social btn-dark mx-2" href="https://twitter.com/?lang=en-gb"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-social btn-dark mx-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-social btn-dark mx-2" href="https://www.linkedin.com/home/?originalSubdomain=uk"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="">Privacy Policy</a>
                    <a href="">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}