{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Hero Section-->
    <div class="hero-container d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="hero-header">Counter</h1>
                    <p class="hero-text">Keep track of invoices and bills with Counter. Online Bookkeeping perfect for Soletraders, Freelancers, Self-employed and Small businesses</p>
                </div>
                <div class="my-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-lg green-btn">
                        Try for Free
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Services-->
    <section class="page-section" id="features">
        <div class="container">
            <div class="text-center">
                <h2 class="page-header">Features</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-invoice fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Create Invoices</h4>
                    <p class="text-muted">Create new Invoices and Bills for customer accounts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Keep Track of Bills</h4>
                    <p class="text-muted">Never miss another payment and keep track of customers that haven't paid yet</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Customer Management</h4>
                    <p class="text-muted">Keep track of every customers you've ever paid or created an ivoice for</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}