{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Hero Section-->
    <div class="hero-container d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="hero-header">Counter</h1>
                    <p class="hero-text">Keep track of invoices and bills with Counter. Online Bookkeeping perfect for Soletraders, Freelancers, Self-employed and Small businesses</p>
                </div>
                <div class="my-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-lg green-btn">
                        Try for Free
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features-->
    <section class="page-section" id="features">
        <div class="container">
            <div class="text-center">
                <h2 class="page-header">Features</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-invoice fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Create Invoices</h4>
                    <p class="text-muted">Create new Invoices and Bills for customer accounts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Keep Track of Bills</h4>
                    <p class="text-muted">Never miss another payment and keep track of customers that haven't paid yet</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Customer Management</h4>
                    <p class="text-muted">Keep track of every customers you've ever paid or created an ivoice for</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">39 Park Chase, Wembley, London, HA9 8EQ</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">hello@counter.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+44 0208 795 5268</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://twitter.com/?lang=en-gb"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="https://www.linkedin.com/home/?originalSubdomain=uk"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </section>
{% endblock %}