{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Create Profile</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'create_profile' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{user_profile_form.full_name | as_crispy_field }}
                        {{user_profile_form.email | as_crispy_field }}
                        {{user_profile_form.phone_number | as_crispy_field }}
                        {{user_profile_form.company_name | as_crispy_field }}
                        {{user_profile_form.company_street_address1 | as_crispy_field }}
                        {{user_profile_form.company_street_address2 | as_crispy_field }}
                        {{user_profile_form.company_city | as_crispy_field }}
                        {{user_profile_form.company_county | as_crispy_field }}
                        {{user_profile_form.company_postcode | as_crispy_field }}
                        {{user_profile_form.company_logo | as_crispy_field }}
                    </fieldset>
                    <div>
                        <button id="submit-button" class="btn">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}