{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <h1 class="d-flex justify-content-center page-header">Create Profile</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <form action="{% url 'create_profile' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{user_profile_form.full_name | as_crispy_field }}
                        {{user_profile_form.phone_number | as_crispy_field }}
                        {{user_profile_form.company_name | as_crispy_field }}
                        {{user_profile_form.company_street_address1 | as_crispy_field }}
                        {{user_profile_form.company_street_address2 | as_crispy_field }}
                        {{user_profile_form.company_city | as_crispy_field }}
                        {{user_profile_form.company_county | as_crispy_field }}
                        {{user_profile_form.company_postcode | as_crispy_field }}
                    </fieldset>
                    <div class="row submit-container">
                        <div class="d-flex justify-content-center">
                            <button id="submit-button" class="btn green-btn btn-lg">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}