{% extends 'base_account.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid profile-container">
        <div class="row mt-5">
            <div class="col-12 col-md-2">
                <ul class="profile-action">
                    <li>
                        <a href="" class="btn btn-navy">Create Invoice</a>
                    </li>
                    <li>
                        <a href="{% url 'create_bill' %}" class="btn btn-navy">Create Bill</a>
                    </li>
                    <li>
                        <a href="{% url 'create_customer' %}" class="btn btn-navy">Create Customer</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-10">
                <div class="row">
                    <!--Table for User Invoices-->
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Invoices
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-blue">View Invoices</a>
                            </div>
                        </div>
                    </div>
                    <!--Table for User Bills-->
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Bills
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Customer Account</th>
                                                <th scope="col">Invoice Date</th>
                                                <th scope="col">Total</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for bill in bills %}
                                                <tr>
                                                    <th scope="row">{{ bill.customer_account }}</th>
                                                    <td>{{ bill.bill_date }}</td>
                                                    <td>{{ bill.bill_total }}</td>
                                                    <td><a href="{% url 'edit_bill' bill.bill_number %}" class="btn btn-navy">View</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{% url 'bills' %}" class="btn btn-blue">View Bills</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}