{% extends 'base_account.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid profile-container">
        <div class="row">
            <div class="col-12 col-md-3">
                <ul class="profile-action">
                    <li>
                        <a href="" class="btn btn-navy">Create Invoice</a>
                    </li>
                    <li>
                        <a href="{% url 'create_bill' %}" class="btn btn-navy">Create Bill</a>
                    </li>
                    <li>
                        <a href="{% url 'create_customer' %}" class="btn btn-navy">Create Customer</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Overdue Invoices
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-blue">View Invoices</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Outstanding Bills
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-blue">View Bills</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Invoices
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-blue">View Invoices</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card profile-card">
                            <div class="card-header profile-header">
                                Bills
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-blue">View Bills</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}