.profile-container{
    margin-top: 32px;
}

.profile-action li {
  list-style-type: none;
  margin: 10px 0px 10px 0px;
}

.profile-action{
    padding-left: 0;
}

.profile-header{
    background-color: #0583F2;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.profile-card{
    margin: 15px;
}