html{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}


.nav-logo{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    margin-left: 5px;
}

.allauth-panel{
    margin-top: 7rem;
}

.allauth-page-header{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    margin: 10px 0px 25px 0px;
}