body{
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #020F59;
}

/* Buttons */
.green-btn {
  background: #05F283;
  background-image: -webkit-linear-gradient(top, #05F283, #05F2C7);
  background-image: -moz-linear-gradient(top, #05F283, #05F2C7);
  background-image: -ms-linear-gradient(top, #05F283, #05F2C7);
  background-image: -o-linear-gradient(top, #05F283, #05F2C7);
  background-image: linear-gradient(to bottom, #05F283, #05F2C7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-decoration: none;
  margin: 0px 2px 0px 2px;
  padding: 10px 20px 10px 20px;
}

.green-btn:hover {
  background: #0583F2;
  background-image: -webkit-linear-gradient(top, #0583F2, #05F2C7);
  background-image: -moz-linear-gradient(top, #0583F2, #05F2C7);
  background-image: -ms-linear-gradient(top, #0583F2, #05F2C7);
  background-image: -o-linear-gradient(top, #0583F2, #05F2C7);
  background-image: linear-gradient(to bottom, #0583F2, #05F2C7);
  text-decoration: none;
  color: white;
}

.btn-lgreen{
    background-color: #05F283;
    color: #fff;
    letter-spacing: 2px;
}

.btn-navy{
    background-color: #010B40;
    color: #fff;
    letter-spacing: 2px;
}

.btn-blue{
    background-color: #0583F2;
    color: #fff;
    letter-spacing: 2px;
}

/* Home Navbar */
.home-nav{
    background-color: #020F59;
    color: white;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}

.home-nav a{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0px 2px 0px 2px;
}

.nav-logo{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    margin-left: 5px;
    font-size: 22px;
}

.nav-icon{
    color: white;
    font-size: 35px;
}

/* Page Header CSS */
.page-header{
    margin: 40px 0px 40px 0px;
    letter-spacing: 4px;
    font-size: 45px;
}

/* Homepage CSS */

.hero-container{
    background: url('/media/counter_bg.jpg') no-repeat center center fixed ;
    background-size: cover;
    height: 90vh;
    font-size: 20px;
}

.hero-header{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text{
    letter-spacing: 3px;
    color: white;
    font-family: 'Abel', sans-serif;
}

.contact-section{
    background-color: #010B40;
    margin: 5rem 0px;
    padding: 5rem 0px;
}

.page-section{
    margin: 1rem 0px;
    padding: 1rem 0px;
}

.social{
    padding-top: 2rem;
}

.social a{
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* Form CSS */

.textInput{
    border: 2px solid #010B40;
    margin: 10px 0px 10px 0px;
}

.emailinput{
    border: 2px solid #010B40;
    margin: 10px 0px 10px 0px;
}

.dateinput{
    border: 2px solid #010B40;
    margin: 10px 0px 10px 0px;
}

.select{
    border: 2px solid #010B40;
    margin: 10px 0px 10px 0px;
}

.submit-container{
    margin: 20px 0px;
}

.no-customer-container{
    height: 40vh;
}

/* Messages CSS */

.messages-container{
    z-index: 1000000;
}

.toast-success{
    background-color: #0583F2;
    color: #fff;
}

.toast-error{
    background-color: #E61505;
    color: #fff;
}

.toast-info{
    background-color: #05F283;
    color: #fff;
}

.toast-warning{
    background-color: #FF8C64;
    color: #fff;
}

.toast-messages{
    margin: 10px;
    position: relative;
    right: 0;
    top: 0;
}

/* Allauth CSS */

.allauth-panel{
    margin-top: 3rem;
}

.allauth-panel .form-check{
    margin: 1rem 0px;
}

.allauth-panel button,
.allauth-panel input[type='submit'] {
    background: #05F283;
    background-image: -webkit-linear-gradient(top, #05F283, #05F2C7);
    background-image: -moz-linear-gradient(top, #05F283, #05F2C7);
    background-image: -ms-linear-gradient(top, #05F283, #05F2C7);
    background-image: -o-linear-gradient(top, #05F283, #05F2C7);
    background-image: linear-gradient(to bottom, #05F283, #05F2C7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0px 2px 0px 2px;
    padding: 10px 20px 10px 20px;
    border-color: #05F2C7;
}

.allauth-page-header{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin: 10px 0px 25px 0px;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
/* Footer CSS */
.footer-basic {
  padding:40px 0;
  background-color: #020F59;
  color:#fff;
  margin-top: 5rem;
  letter-spacing: 2px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}