/* Button CSS */
.button-container{
    margin: 0.7rem 0px;
    padding-left: 0px;
}

.submit-container{
    margin-top: 2rem;
}

/* Bill CSS */
.total-container{
    list-style: none;
    padding: 20px;
    border: 3px solid;
}

.total-container li{
    margin: 0.5rem 0px ;
    font-size: 1.4rem;
}

#bill_lines{
    background-color: #f2f2f2;
    padding: 1rem 0px;
}
