{% extends 'base_account.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for customer in customers %}
                    <p>{{ customer.company_name }}</p>
                {% endfor %}
            </div>
            <div class="col-12">
                <a class="btn btn-primary" href="{% url 'create_customer' %}">Create Customer</a>
            </div>
        </div>
    </div>
{% endblock %}